.portfolio-grid-title {
    background-color: #{{ site.color.primary }};

    text-align: center;
    color: #fff;
    font-size: 1.1em;

    padding-top: 0.5em;
    padding-bottom: 0.68em;
}

#link-url {
    margin-left: 4em;;
}

#link-url a {
    color: white;
    text-decoration: underline;
}