.portfolio-grid-title {
    background-color: #{{ site.color.primary }};

    text-align: center;
    color: #fff;
    font-size: 1.1em;

    padding-top: 0.5em;
    padding-bottom: 0.68em;
}

.success a {
    color: white;
    text-decoration: underline;
}

.success code {
    color: #{{ site.color.primary }};
}

.text-indent-4 {
    text-indent: 4em;
}

.btn-outline-primary {
    margin-top: 15px;
    border: solid 2px #{{ site.color.primary }};
    font-size: 20px;
    color: #{{ site.color.primary }};
    background: 0 0;
    transition: all .3s ease-in-out;
}

.btn-outline-primary:hover {
    border: solid 2px #{{ site.color.primary }};
    color: #fff;
    background: #{{ site.color.primary }};
}